.element__card-inscription {
  display: flex;
  flex-direction: row;
  margin: 0;
  background-color: #fff;
  justify-content: space-between;
  padding: 25px 20px;  
  border-radius: 0 0 10px 10px;  
} 