.popup__button-edit {
  display: none;
  width: 358px;
  height: 50px;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  justify-content: center;
  align-items: center;
  font-weight: 400;  
  font-size: 18px;
  line-height: 121%;
  transition: 2s;
  cursor: pointer;
}

.popup__button-edit:hover { 
  opacity: .6;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .popup__button-edit {
    width: 100%;
    height: 46px;
    font-size: 14px;
  }
}