.footer_formatting_base {
  max-width: 880px;
  width: 100%;
  padding: 66px 0 60px;
}

@media screen and (max-width: 910px) {
  .footer_formatting_base {
    padding-right: 24px;
    padding-left: 24px;
  }
}

@media screen and (max-width: 768px) {
  .footer_formatting_base {
    padding: 48px 18px 36px;
  }
}