.header__logo {
  background-image: url('../../../images/header-logo.png');
  width: 142px;
  height: 33px;
  margin-bottom: 41px;
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  background-repeat: no-repeat;    
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-bottom: 31.6px;
    margin-left: 27px;
  }
}