.popup__close-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: 0;
  width: 32px;
  height: 32px;
  background-image: url('../../../images/close-edit.svg'); 
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  background-color: transparent;
  transition: 2s;
  cursor: pointer;
}

.popup__close-button:hover { 
  opacity: .6;
  transition: 1s;
}

@media screen and (max-width: 768px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    right: 19px;
  }
}