.profile__user-name {
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 450px;
  padding-right: 18px;
  font-weight: 500;  
  font-size: 42px;
  line-height: 114.29%;
}

@media screen and (max-width: 768px) {
  .profile__user-name {
    padding-right: 10px;
    font-size: 27px;
    line-height: 121%;
  }
}

@media screen and (max-width: 620px) {
  .profile__user-name {
    max-width: 250px;
  }
}